@page "/"

<PageTitle>Portfolio</PageTitle>

<h1>Forrest Schmeling</h1>

<img src="Images/me.jpg" class="img-fluid rounded" alt="Creator's Headshot" width="100" />

<div class="p-3">
    <h2>BIO</h2>

    <p>
        As a new dad I wanted to show my son that it is never to late to chase your dreams. So before he was born
        I made it a goal to get my bachelors degree in Software Development. I have a passion for learning
        and a hunger to expand my knowledge. I can adapt easily and fast as seen on how I achieved my bachelors in a year.
        I have been a corrections officer for almost 4 years now at King County, although that is not my dream career it has tought me
        alot of soft people skills and has made me excell at working under pressure. I was recently diagnosed with ADD,I see it only as a hurdle that I overcome each day. With my diagnosis I want to show my son and others watching that nothing is impossible
        and that nothing will stop me from achieving my dream and I hope my successes will inspire him and others!
    </p>

</div>
