@page "/Projects"

<PageTitle>Projects</PageTitle>
<div class="p-3">
<h1>Projects</h1>
</div>
<div class="container-fluid">
    <div class="row" style="display:flex; justify-content:center;">
        <div class="col-sm">
            <a href="https://github.com/ForrestSchmeling/Scheduler" target="_blank">
            <img src="Images/appointment.png" class="img-responsive" alt="the word Appointment on a calandar with a red circle" width="150">
            </a>
        </div>
        <div class="col-sm">
            <a href="https://github.com/ForrestSchmeling/Inventory-Managment" target="_blank">
            <img src="Images/inventory.jpg" class="img-responsive" alt="the word Inventory with brown boxes" width="150">
            </a>
        </div>
        <div class="col-sm">
            <a href="https://github.com/ForrestSchmeling/ClassTracker" target="_blank">
            <img src="Images/mobileapp.jpg" class="img-responsive" alt="Mobile phone with apps on it" width="150">
            </a>
        </div>
        <div class="col-sm">
    <a href="https://forrestschmeling.github.io/ReactPortfolio/" target="_blank">
    <img src="Images/portfolio.jpg" class="img-responsive" alt="the word portfolio on a blue book" width="150">
    </a>
</div>
                <div class="col-sm">
    <a href="https://forrestschmeling.github.io/rockpaperscissors/" target="_blank">
    <img src="Images/rpc.jpg" class="img-responsive" alt="the words rock paper and scissors with icon below" width="150">
    </a>

</div>
    </div>
</div>



@code {
   
}