@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.Linkedin.com/in/forrest-s-857709a3/" target="_blank">Linkedin</a>
            <a href="https://github.com/ForrestSchmeling" target="_blank">Github</a>
            <a href="mailto:forrestschmeling@icloud.com">Email</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
